<div style="text-align:center">
  <h1>Welcome to {{ title }} </h1>
  
  <div>Your city, your forecast, right now!</div>
  
  <h3>Current Weather</h3>
  <app-current-weather></app-current-weather>
</div>
