<!-- <p>
  current-weather works!
</p> -->
<div *ngIf="current">
  <div>
    <span>{{current.city}}, {{current?.country}}</span>
    <div>
      <span>{{current.date | date:'fullDate'}}</span>
    </div>
  </div>
  <div>
    <img [src]='current.image'>
    <span>{{current.temperature | number: '1.0-0'}}<sup>o</sup>F</span>
  </div>
  <div>{{current.description}}</div>
</div>